@font-face {
    font-family: "seg";
    src:url("fonts/DSEG7Classic-Regular.ttf");
}

body {
    font-family: 'seg';
    background-color: black;
}

.alarmSelector {
    background-color: black;
    color: darkgrey;
    border: 2px solid rgb(51, 51, 51);
}

.text {
    width: 1000px;
}

.dev {
    float: right;
}

.alarmSetTime {
    font-size: 20;
    padding-top: 75px;
    width: 200px;
    position: absolute;
}

.clock {
    padding-top: 10px;
    height: 200px;
    width: 500px;
    position: absolute;
    top: 50;
    left: 50;
    /* color: red; */
    font-size: 100px;
    text-align: center;
    float: left;
}

.inactive {
    height: 10px;
    width: 10px;
    background-color: #320000;
    padding-top: 0px;
}

.meridiem {
    padding-top: 10px;
    padding-left: 550px;
}

#alarmTime {
    color: #320000;
}

/* #background {
    color: #320000; 
}*/
/*red theme*/
span.red {
    background-color: red;
}
span.red-dark {
    background-color: #320000;
}
#alarmTime.red, .red {
    color: red;
}
#alarmTime.red-dark, .red-dark {
    color: #320000;
}
/*red theme*/
/*blue theme*/
span.blue {
    background-color: blue;
}
span.blue-dark {
    background-color: #000032;
}
#alarmTime.blue, .blue {
    color: blue;;
}
#alarmTime.blue-dark, .blue-dark {
    color: #000032;
}
/*blue theme*/

/*green theme*/
span.green {
    background-color: greenyellow;
}
span.green-dark {
    background-color: #003200;
}
#alarmTime.green, .green {
    color: greenyellow;
}
#alarmTime.green-dark, .green-dark{
    color: #003200;
}
/*green theme*/

/*purple theme*/
span.purple {
    background-color: rgb(250,0,250);
}
span.purple-dark {
    background-color: #320032;
}
#alarmTime.purple, .purple {
    color: rgb(250,0,250);
}
#alarmTime.purple-dark, .purple-dark{
    color: #320032;
}
/*purple theme*/

/*random theme*/
/* span.random {
    background-color: greenyellow;
}
span.random-dark {
    background-color: #003200;
}
#alarmTime.random, .random {
    color: greenyellow;
}
#alarmTime.random-dark, .random-dark{
    color: #003200;
} */
/*random theme*/


#alarmTime {
    background-color: black;
}
/* .red {
    color: #320000;
}
span.red {
    background-color: #320000;
}
.blue {
    color: #000032;
}
span.blue {
    background-color: #000032;
}
.blue-dark {
    color: blue;
}
span.blue-dark {
    background-color: blue;
}
.red-dark {
    color: red;
}
span.red-dark {
    background-color: red;
}
#alarmTime.red {
    color: #320000;
}
#alarmTime.blue {
    color: #000032;
}
#alarmTime.red-dark {
    color: red;
}
#alarmTime.blue-dark {
    color: blue;
}
#alarmTime {
    background-color: black;
} */
.light {
    height: 10px;
    width: 10px;
    /* background-color: #320000; */
    border-radius: 50%;
    display: inline-block;
}

.border {
      border: 5px solid darkgrey;
      border-radius: 25px;
      padding: 25px;
      width: 574px;
      margin-bottom: 20px;
}

.alarmMeridiem {
    padding-left: 200px;
    font-size: 20;
    padding-top: 75px;
}

.alarmInput {
    font-family: Arial, Helvetica, sans-serif;; 
    color: white;
    font-size: 15px;
}

#pmNotification {
    padding-left: 10px;
}

.plainText {
    font-family: Arial, Helvetica, sans-serif;; 
    color: white; 
    font-size: 15px;
    padding-left: 5px;
}
#snooze-container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 634px;
    text-align: center;
    display: none;
}
#snoozeText {
    color: white;
    display: inline-block;
}
#snoozeTime {
    display: inline-block;
}
#snoozeButton {
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
}

#selector-container {
    padding-top: 10px;
}

#save-container {
    padding-top: 10px;
    display: none;
}