:root {
    --header-color:  hsl(278, 42%, 15%, .9);
    --header-dark: hsl(278, 42%, 30%);
    --header-accent-color: lime;

    --main-bg-color: hsl(278, 42%, 25%);
    --main-dark-color: hsl(278, 42%, 25%);
    --main-light-color: hsl(278, 42%, 97%);
    /* --header-accent-color: hsl(300, 100%, 45%); */
    

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("../images/background.jpg");
    font-family: 'Lora', sans-serif;
    background-color: rgb(255,61,0); */
    /* padding-top: 10px;
    padding-left: 10px; */
    background: url("../images/background.jpg") no-repeat center center fixed;
    /*background-repeat: no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lora', sans-serif;
    font-size: 16px;
    background-color: var(--main-bg-color);
    overflow: hidden;
    height: 100%;
}

noscript {
    color: whitesmoke;
    background: red;
    padding: 5px 10px 5px 10px;
    font-weight: bold
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
}

#show-hide-button {
    width: 80px;
}

#column-select-container {
    position: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    border: 2px solid whitesmoke;
    background-color: var(--main-dark-color);
    color: whitesmoke;
    transition: all ease-in-out 500ms;
}

button:hover, button:focus{
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    color: var(--main-dark-color);
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: var(--main-dark-color);
}



/* } */

.nav {
    padding: 2px;
    flex-grow: 1;
}

/* .nav-link {
    height: 20px;
    overflow: hidden;
  text-overflow: ellipsis;
    background-color: tomato;
} */

@media only screen and (min-width: 601px) {
    .hamburger {
        display: none;
    }
    header {
        padding: .25em;
        font-size: 1.25em;
        background-color: var(--header-color);
        /* background-color:tomato; */
        border-bottom: solid 1px hsl(0, 0%, 90%);
        display: flex;
    }

    .header-nav {
        margin: 0px;
        /* font-size: 1.5rem; */
        list-style: none;
        display: flex;
        /* gap: 1em; */
        align-items: center;
        /* padding: 0;*/
        /* margin-bottom: 0px;  */
    }
    .nav-link {
        margin-left: 1em;
    }
    .header-nav li a, .header-nav li p {
        vertical-align: middle;
    }
}

@media only screen and (max-width: 600px) {
    .hamburger {
        position: absolute;
        /* top: 2em; */
        left: 0;
        transform: translateX(-100%);
        /* padding: 1em .5em; */
        /* height: 3em; */
        /* width: 3em; */
        font-size: 1.5em;
        /* text-align: center; */
        /* vertical-align: middle; */
        color: white;
        background: var(--header-color);
        /* display: flex; */;
        border: .25em solid var(--header-color)
    }
    .hamburger:hover {
        cursor: pointer;
    }
    header {
        position: absolute;
        right: 0;
        transform: translateX(100%);
        transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
        padding: .25em;
        font-size: 1.25em;
        background-color: var(--header-color);
        display: flex;
        width: 75%;
    }
    .header-open {
        transform: translateX(0);
    }
    .header-nav {
        list-style: none;
    }
    .header-nav li a, .header-nav li p {
        display: block;
        margin-top: .5em;
    }

    .header-nav li a:not(.auth-button), .header-nav li p {
        padding-bottom: 1px; 
        border-bottom: 1px solid var(--header-dark);
    }
}


/* .header-nav li:nth-last-of-type(3) { */
.right-align {
    width: 0px;
    margin-left: auto;
}

.header-link {
    margin: auto;
    color: hsl(0, 0%, 90%);
    text-decoration: underline;
    text-decoration-color: transparent;
    /* border-bottom: 2px solid transparent; */
    transition: all ease-in-out 500ms;
}
.header-link:hover, .header-link:focus  {
    /* color: hsl(0, 0%, 90%); */
    color: hsl(0, 0%, 90%);
    text-decoration-color: hsl(0, 0%, 90%);
    outline: none;
    /* border-color: hsl(0, 0%, 90%); */
} 

.curr-link {
    display: inline;
    margin: auto;
    color: var(--header-accent-color);
    text-decoration: none;
    /* border-bottom: 2px solid var(--header-accent-color); */
    cursor: default;
}
/* .curr-link:hover, .curr-link:focus {
    color: var(--header-accent-color);
    text-decoration: none;
    cursor: default;
    border-bottom: 2px solid var(--header-accent-color);
} */


/* .clr {
    clear: both;
    font-size: 0;
} */


/* #header h1 {
    color: whitesmoke;
} */

.title {
    /* display: block; */
    /* font-size: 4em; */
    /* margin-left: 25px; */
}

/* #pokeball {
    font-size: 4em;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: white;
    color: red;
} */

.auth-button {
    /* margin-right: -.11em; */
    text-align: center;
    border-radius: 2em;
    background-color: var(--header-accent-color);
    color: var(--header-color);
    border-radius: 2em;
    border: 2px solid var(--header-accent-color);        
    text-decoration: none;
    cursor: pointer;
    /* width: 15em; */
    max-width: 25%;
    min-width: 90px;
    transition: all ease-in-out 500ms;
    padding: 0em .5em;
}

.auth-button:hover, .auth-button:focus {
    outline: none;
    text-decoration: none;
    background: var(--header-color);
    color: var(--header-accent-color);
}


#signout_button {
    /* margin-right: -1em; */
}
/* .auth-button {
    float: right;
    margin: .75rem;
    border: 2px solid black;

    padding: .5em;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
     cursor: pointer;
     width: 5em;
} */

#user-icon {
    /* color: white; */
    /* display: none; */
    /* font-size: .75em; */
    /* margin-right: 1em; */
    /* font-size: 1em; */
    /* padding-left: 0px; */
    /* position: absolute; */
    /* margin-top: 16px; */
    /* margin-right: 110px; */
    /* top: 0; */
    /* right: 0; */
}

#user-icon:hover {
    color: lime;
}

/* #user-icon {
    height: 50px;
} */

#pre {
    border-top: solid lightgrey;
    background-color: whitesmoke;
    /* box-shadow: 0px 0px 20px 10px whitesmoke; */
    margin-top: -1px;
    margin-bottom: 5px;
    font-size: 16px;
    color: red;
    visibility: hidden;
    /* text-align: left; */
    padding-left: 25px;
}

#not-signed-in {
    color: var(--main-dark-color);
    /* min-width: 75%; */
    max-width: 50%;
    min-width: 300px;
    display: none;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: hsl(278, 42%, 96%, .9);
    box-shadow: 5px 10px 5px var(--main-dark-color);
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 3rem;
    border-radius: 10px 10px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#request-2 {
    width: 1000px;
    display: none;
    text-align: center;
    font-size: x-large;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px 10px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content-container {
    background-color: var(--main-light-color);
    max-width: 1000px;
    width: 90%;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 5px var(--main-dark-color);
    /* padding-bottom: 1px; */
    border-radius: 10px 10px 20px 20px;
    position: relative;
    height: 81.75vh;
    overflow: hidden;
}

#image-holder {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: white;
    border-image: none;
    border-radius: 50px 0 50px 0;
    border-style: solid;
    border-width: 10px;
}

#search-image-frame {
    align-content: center;
    display: block;
    width: 100%;
    text-align: center;
}

#image-frame {
    align-content: center;
    display: block;
    width: 100%;
    text-align: center;
}

#search-info {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgb(25,25,25);
    border-image: none;
    /* border-radius: 20px 20px 20px 20px; */
    border-style: solid;
    border-color: black;
}

#search-info-table {
    background-color: rgb(25,25,25);
    font-family: 'Lora', sans-serif;
    color: whitesmoke;
    border-spacing: 0 15px;
    margin: 10px;
}

.search-info-cell {
    padding: 10px;
    border: 1px inset whitesmoke;
    vertical-align: middle;
}

/* #close-button {
    bottom: 617px;
    right: 247px;
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
    z-index: 3;
} */

/* #shiny, #shiny-label {
    display: none;
    position: absolute;
    z-index: 1;
} */

#profile-container {
    display: none;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  rgb(25,25,25);
    height: 65%;
    width: 60%;
}
#user-profile {
    background-color: white;
    /* font-family: 'Lora', sans-serif; */
    color: black;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    /* text-align: center;
    vertical-align: center; */
    transform: translate(-50%, -50%);
    /* display: none; */
    /* border-image: none; */
    /* border-radius: 10px; */
    /* border-style: solid  red; */
    /* border: solid red; */
    border-width: 25px;
    height: 99%;
    width: 99%;
    overflow: auto;
    padding: 15px;
    /* border-collapse: separate; */

    /* border-spacing: 15px; */

}

.profile-table-cell-title {
    font-weight: bold;
}

.profile-table, .grid-preferences-table {
    border-collapse: collapse;
    padding: 5px;
    margin-left: 5%;
    width: 90%;
}
.profile-table td, .profile-table th, .grid-preferences-table td, .grid-preferences-table th {
    border: 1px solid  rgb(25,25,25);   
    /* border: 1px solid salmon; */
    border-collapse: collapse;
    text-align: center;
}

.show-hide-column-checkbox {
    cursor: pointer;
}

.img-border1 {
    border-left: orangered;
    border-right: orangered;
}
.img-border2 {
    border-top: teal;
    border-bottom: teal;
}

#instructions {
    margin: auto;
    width: 90%;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
}

#search-container {
    padding-top: 5px;
    /* width: 990px; */
    /* width: 75%; */
    padding: 5px;
    position: relative;
    margin: auto;
}

#myInput {
    background-image:url('/images/searchicon.png');
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 99%;
    border-radius: .5em;
    border: 1px solid #ddd;
    font-size: 1em;
    /* flex-grow: 2; */
}

#info-button {
    width: 2.5%;
    position: absolute;
    right: 60px;
    bottom: 5px;
}

#clear-button {
    position: absolute;
    right: 15px;
    bottom: 21px;
    /* vertical-align: middle; */
    height: 1.75em;
    width: 1.75em;
    text-align: center;
    color: white;
    background-color: orangered;
    border: orangered;
    border-radius: 50%;
}

#clear-button:hover, #clear-button:focus {
    outline: none;
    background-color: darkred;
    /* border: orangered; */
    cursor: pointer;
}

#table-container {
    overflow: auto;
    max-height: 70vh;
}

#table-size {
    /* height: 10px; */
    font-size: 14px;
    padding-left: 10px;
    text-align: left;
}

#myTable {
    /* color: rgb(66,66,66); */
    color: var(--main-dark-color);
    margin-left: 5px;
    /* width: 975px; */
    width: 99%;
    /* height: 100%; */
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 15px;
    /* display: block; */
    text-indent: inherit;    
}

/* 
#myTable td {
    border-left: 1px solid rgb(66,66,66);
    border-right: 1px solid rgb(66,66,66);
    border-bottom: 1px solid rgb(66,66,66);
}    */

#myTable tr:nth-child(odd) {background-color: hsl(0, 0%, 100%);}
#myTable tr:nth-child(even) {background-color: var(--main-light-color);}

#myTable th {
    background-color: var(--main-dark-color);
    color: white;
    text-align: center;
    position: sticky;
    z-index: 1;
    top: 0;
    border-left: 1px solid rgb(66,66,66);
    border-right: 1px solid rgb(66,66,66);
}

td {
    border-left: 1px solid rgb(66,66,66);
    border-right: 1px solid rgb(66,66,66);
    border-bottom: 1px solid rgb(66,66,66);
    /* line-height: 50px; */
    height: 50px;
    /* padding: 1px; */
    overflow: hidden;
    display: table-cell;
    /* vertical-align: baseline; */
    line-break: normal;
}

td i {
    font-size: .75em;
}

.status-setter, .pointer-cell {
    cursor: pointer;
}

.tag-cell {
    display: none;
}

.notes-field {
    /* min-height: 110px; */
    /* max-height: 110px; */
    cursor: text;
    overflow: hidden;
    /* line-height: 50px; */
    height: 10px;
}

.sprite {
    width: 100%;
    /* display: block; */
}

.grayscale-image {
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}

.form-selector {
    height: 100%;
    /* line-height: 50px; */
    width: 100%;   
    /* padding-top: 1px; */
    border: 0px;
    background-color: transparent;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px; 
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; /*Take 0.5 seconds to fade in and out the snackbar. However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s, fadeout 0.5s 2.5s; /*Take 0.5 seconds to fade in and out the snackbar. However, delay the fade out process for 2.5 seconds */
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

    .request-form {
        margin-top: 10px;
        /* display: block; */
      /* align-content: center; */
        /* This bit sets up the horizontal layout */
        /* margin-left: 10%; */
        width: 100%;
        /* display:flex; */
        /* flex-direction:row; */
        min-width: 50%;
        /* This bit draws the box around it */
        /* border:1px solid grey; */

        /* I've used padding so you can see the edges of the elements. */
        /* padding:2px; */
  }
  
  #not-signed-in p {
    font-size: 1.25rem;
  }

  #requester-email {
      /* float: left; */
        height: 2em;
        overflow: hidden;
        font-size: 1em;

        /* background-color: red; */
        /* color: white; */
        /* Tell the input to use all the available space */
        /* flex-grow: 2; */
        /* And hide the input's outline, so the form looks like the outline */
        /* border:none; */
        text-align: center;
        border: 2px solid darkgray;
        width: 75%;
        min-width: 115px;
        border-radius: 2em;
        /* padding-left: 1rem; */
        vertical-align: middle;
        margin-bottom: .5em;
  }

   #requester-email::placeholder {
       /* padding-left: 10px; */
       text-align: center;
       color: dark grey;
   }

   #request-submit {
    margin-bottom: .5em;
       height: 2em;
       /* float: right; */
       vertical-align: middle;
       min-width: 115px;
       width: 20%;
       /* font-size: 10%; */
       /* overflow: visible; */
        /* flex-grow: 2; */
       font-size: 1em;
       line-height: normal;
       /* padding: .25em; */
       border-radius: 2em;
       /* padding: 1rem; */
       /* height: 3rem; */
       /* margin-left: 1rem; */
       /* margin: .5rem; */
       background-color: var(--main-dark-color);
       color: white;
       border: 2px solid var(--main-dark-color);
       transition: all ease-in-out 500ms;
   }
  #requester-email:focus {
      /* outline: 1px solid red; */
      outline: none;
      border: 2px solid var(--main-dark-color);
  }

  #request-submit:hover, #request-submit:focus {
      cursor: pointer;
      outline: none;
      background-color: hsl(0, 0%, 96%);
      color: var(--main-dark-color);
      /* border: 2px solid var(--main-dark-color); */
  }