body {
    /* background-image: url("../images/background.jpg");
    font-family: 'Lora', sans-serif;
    background-color: rgb(255,61,0); */
    /* padding-top: 10px;
    padding-left: 10px; */
    background: url("../images/background.jpg") no-repeat center center fixed;
    /*background-repeat: no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lora', sans-serif;
    background-color: rgb(255,61,0);
    height: 100%;
}

noscript {
    color: whitesmoke;
    background: red;
    padding: 5px 10px 5px 10px;
    font-weight: bold
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer; Add a pointer on hover */
}

#show-hide-button {
    width: 80px;
}

#column-select-container {
    position: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    border: 1px solid #0066cc;
    background-color: #0099cc;
    color: #ffffff;
}

button:hover {
    border: 1px solid #0099cc;
    background-color: #00aacc;
    color: #ffffff;
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

#header {
    margin-top: -20px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px 10px whitesmoke;
}

.title {
    margin-left: 25px;
}

#pokeball {
    color: red;
}

.auth-button {
    position: absolute;
    margin-top: 5px;
    margin-right: 25px;
    top: 0;
    right: 0;
    width: 75px;
}

#username-container {
    position: absolute;
    margin-top: 8px;
    margin-right: 110px;
    top: 0;
    right: 0;
}

#user-icon {
    height: 50px;
}

#pre {
    border-top: solid lightgrey;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px 10px whitesmoke;
    margin-top: -10px;
    font-size: 16px;
    color: red;
    visibility: hidden;
    padding-left: 25px;
}

#not-signed-in {
    width: 1000px;
    display: none;
    text-align: center;
    font-size: x-large;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px 10px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#request-2 {
    width: 1000px;
    display: none;
    text-align: center;
    font-size: x-large;
    background-color: white;
    box-shadow: 5px 5px 5px black;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px 10px 20px 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content-container {
    background-color: white;
    width: 1000px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 5px black;
    padding-bottom: 1px;
    border-radius: 10px 10px 20px 20px;
    position: relative;
}

#image-holder {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: white;
    border-image: none;
    border-radius: 50px 0 50px 0;
    border-style: solid;
    border-width: 10px;
}

#search-image-frame {
    align-content: center;
    display: block;
    width: 100%;
    text-align: center;
}

#image-frame {
    align-content: center;
    display: block;
    width: 100%;
    text-align: center;
}

#search-info {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgb(25,25,25);
    border-image: none;
    /* border-radius: 20px 20px 20px 20px; */
    border-style: solid;
    border-color: black;
}

#search-info-table {
    background-color: rgb(25,25,25);
    font-family: 'Lora', sans-serif;
    color: whitesmoke;
    border-spacing: 0 15px;
    margin: 10px;
}

.search-info-cell {
    padding: 10px;
    border: 1px inset whitesmoke;
    vertical-align: middle;
}

/* #close-button {
    bottom: 617px;
    right: 247px;
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
    z-index: 3;
} */

#shiny, #shiny-label {
    display: none;
    position: absolute;
    z-index: 1;
}

#profile-container {
    display: none;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:  rgb(25,25,25);
    height: 55%;
    width: 50%;
}
#user-profile {
    background-color: white;
    /* font-family: 'Lora', sans-serif; */
    color: black;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    /* text-align: center;
    vertical-align: center; */
    transform: translate(-50%, -50%);
    /* display: none; */
    /* border-image: none; */
    /* border-radius: 10px; */
    /* border-style: solid  red; */
    /* border: solid red; */
    border-width: 25px;
    height: 99%;
    width: 99%;
    overflow: auto;
    padding: 15px;
    /* border-collapse: separate; */

    /* border-spacing: 15px; */

}

.profile-table-cell-title {
    font-weight: bold;
}

.profile-table, .grid-preferences-table {
    padding: 5px;
    margin-left: 5%;
    width: 90%;
}
.profile-table td, .profile-table th, .grid-preferences-table td, .grid-preferences-table th {
    border: 1px solid  rgb(25,25,25);   
    /* border: 1px solid salmon; */
    border-collapse: collapse;
    text-align: center;
}

.show-hide-column-checkbox {
    cursor: pointer;
}

.img-border1 {
    border-left: orangered;
    border-right: orangered;
}
.img-border2 {
    border-top: teal;
    border-bottom: teal;
}

#instructions {
    margin: auto;
    width: 90%;
    margin-top: 15px;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
}

#search-container {
    padding-top: 5px;
    width: 990px;
    position: relative;
    margin: auto;
}

#myInput {
    background-image:url('/images/searchicon.png');
    background-position: 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 990px;
    border: 1px solid #ddd; 
    flex-grow: 2;
}

#info-button {
    width: 2.5%;
    position: absolute;
    right: 60px;
    bottom: 5px;
}

#clear-button {
    position: absolute;
    right: 5px;
    bottom: -7px;
}
#table-container {
    overflow: auto;
    height: 70vh;
}

#table-size {
    height: 10px;
    padding-left: 10px;
    text-align: left;
}

#myTable {
    color: rgb(66,66,66);
    margin-left: 5px;
    width: 975px;
    /* height: 100%; */
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    margin-bottom: 15px;
    /* display: block; */
    text-indent: inherit;
}

/* 
#myTable td {
    border-left: 1px solid rgb(66,66,66);
    border-right: 1px solid rgb(66,66,66);
    border-bottom: 1px solid rgb(66,66,66);
}    */

#myTable tr:nth-child(odd) {background-color: rgb(255,255,255);}
#myTable tr:nth-child(even) {background-color: rgb(234,234,234);}

#myTable th {
    background-color: rgb(66,66,66);
    color: white;
    text-align: center;
    position: sticky;
    z-index: 1;
    top: 0;
    border-left: 1px solid rgb(66,66,66);
    border-right: 1px solid rgb(66,66,66);
}

td {
    border-left: 1px solid rgb(66,66,66);
    border-right: 1px solid rgb(66,66,66);
    border-bottom: 1px solid rgb(66,66,66);
    /* line-height: 50px; */
    height: 50px;
    /* overflow: hidden; */
    display: table-cell;
    /* vertical-align: baseline; */
    line-break: normal;
}

.status-setter, .pointer-cell {
    cursor: pointer;
}

.tag-cell {
    display: none;
}

.notes-field {
    /* min-height: 110px; */
    /* max-height: 110px; */
    cursor: text;
    overflow: hidden;
    /* line-height: 50px; */
    height: 10px;
}

.sprite {
    width: 100%;
    /* display: block; */
}

.grayscale-image {
    -webkit-filter: grayscale(1);
    filter: gray;
    filter: grayscale(1);
}

.form-selector {
    height: 100%;
    /* line-height: 50px; */
    width: 100%;   
    /* padding-top: 1px; */
    border: 0px;
    background-color: transparent;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px; 
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; /*Take 0.5 seconds to fade in and out the snackbar. However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s, fadeout 0.5s 2.5s; /*Take 0.5 seconds to fade in and out the snackbar. However, delay the fade out process for 2.5 seconds */
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }